.font-titulo{
  font: 400 4rem/1.1 "Alice", "sans-serif";
}
.font-botao-menu-18{
  font: 700 1.125rem/1.3 "Nunito", "sans-serif";
}
.font-nunuto-18{
  font: 400 1.125rem/1.3 "Nunito", "sans-serif";
}
.font-nunuto-24{
  font: 400 1.5rem/1.3 "Nunito", "sans-serif";
}
.font-nunuto-14{
  font: 400 0.875rem/1.3 "Nunito", "sans-serif";
}
.bold{
  font-weight: bold;
}

